[submodule "third_party/dynamic-lapis-gs"]
	path = third_party/dynamic-lapis-gs
	url = https://github.com/nus-vv-streams/dynamic-lapis-gs
[submodule "third_party/draco"]
	path = third_party/draco
	url = https://github.com/google/draco
